h1{
    text-align: center;
    padding-top: 1em;
}

body{
    background-color: rgb(195, 204, 218);
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
}

#dados_financeiros{
    display: block;
    margin-bottom: 5px;
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input[type=number]{
    border-radius: 2px;
}

#dados_financeiros div{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 1%;
}

#dados_financeiros label{
    font-size: 20px;
}

#conta_a_pagar{
    background-color: rgb(170, 221, 255);
    padding-left: 2%;
    font-size: 16px;
    align-items: center;
    justify-items: center;
}
    #conta_a_pagar div{
        padding-left: 2%;
        padding: 2px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
#data_send{
    background-color: #6a994e;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}
    #data_send:hover{
        background-color: #386641;
    }
        #data_send:active{
            background-color: #1f4226;
        }

fieldset{
    width: 30%;
    
}