body{
    background-color: rgb(195, 204, 218);
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#dados_financeiros div{
    justify-content: center;
    width: 100%;
    padding-left: 1%;
}
#dados_financeiros label{
    font-size: 20px;
}
#conta_a_pagar{
    background-color: rgb(170, 221, 255);
    padding-left: 2%;
    font-size: 16px;
}
#conta_a_pagar div{
    padding-left: 2%;
    padding: 2px;
    font-size: 16px;
}
#data_send{
    background-color: rgb(81, 182, 89);
}